/* import font from Google fonts.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Fira Mono';
}
body{
  background: #e9e9e9;
  display:flex;
  width:100%;
  height:100vh;
  justify-content: center;
}
.container{
  position: fixed;
  top:10px;
  left:px;
  width: calc(100% - 20px);
  padding: 10px;
  max-height: 700px;
  background:#e9e9e9;
  box-shadow: 6px 6px 9px rgba(0,0,0,0.2),-6px -6px 9px  #ffffff;
}
header{
  width: 100%;
  padding: 10px;
}
header h1{
  color: #2A1CD8;
  line-height: 35px;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.inputs{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}
.inputs input{
  outline: none;
  border:none;
  background: #e9e9e9;
  border-radius: 25px;
  text-align: center;
  width:100%;
  min-height: 50px;
  box-shadow: inset 3px 3px 6px rgba(0,0,0,0.2), inset -3px -3px 3px  #ffffff;
}
.inputs button{
  position: relative;
  margin-top: 20px;
  min-height: 30px;
  width: 60px;
  outline: none;
  border:none;
  border-radius: 10px;
  background: #E32020;
  opacity: 0.6;
  pointer-events: none;
  cursor: pointer;
}
.inputs button.active{
  opacity: 1;
  pointer-events: auto;
}
.inputs button i{
  color:white;
  font-size: 1.2rem;
}
.container h2{
  margin:30px 0 20px 20px;
  color: #26AB22;
}
.todo_list{
  width: 100%;
}
.todo_list li{
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  padding: 2px 10px;
  justify-content: space-between;
  align-items: center;
  /*overflow: hidden;*/
  border-bottom: 1px solid #BAD7FA;
}
/*.todo_list li:hover{
  background: #B0B0B8;
}*/
.todo_list li:hover  .trash{
  transform: scale(1);
}
.todo_list li:hover .checked{
  transform: scale(1);
}
.todo_list .checked,.todo_list .trash{
  position: absolute;
  display: flex;
  height: 40px;
  width: 35px;
  border-radius: 4px;
  background: #e9e9e9;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  cursor: pointer;
  transition: 0.3s all ease;
}
.checked{
 right: 45px;
}
.trash{
  right: 0px;
}
.checked:hover {
  background: #2CD521;
}
.checked:hover i{
  color: white;
}
.trash:hover {
  background: #FF0808;
}
.trash:hover i{
  color: white;
}
.checked i{
  color: #2CD521;
}
.trash i{
  color:#FF0808;
}